/* saisissez ici vos règles CSS */

#container
{
  width: 980px;
  margin: 0 auto;
}

header{
  text-align: center;
  padding: 1em 0;
  margin : 0;
  background: black;
  color: white;
}

#main{
  position: relative;
}

#main h2
{
  margin-bottom: 1em;
}

#main nav {
  position: absolute;
  top: 0;
  right: 0;
}

#main p {
  text-align: justify;
}

#main ul{
  padding : 0;
  margin-top: 2em;
  display: flex;
}

#main ul li {
  list-style: none;
  margin-right: 2em;
  padding: 0 1em 0 1em;
  border: 2px solid lightgray;
}

#main ul li h3 {
  text-align: center;
}

#main ul li a {
  text-decoration: none;
  color:darkcyan;
}

#main ul li img {
  max-width: 280px;
  max-height: 280px;
}

#main form, #main nav > p{
  display: inline-block;
}

#albums{
  visibility: hidden;
  width:500px;
  background-color: white;
  position:absolute;
  text-align: center;
  border: solid 1px black;
  opacity: 0;
  padding-bottom: 0.5em
}

#albums h2 {
  background-color: darkcyan;
  color: white;
  margin-top: 0;
}

#albums table img {
  width: 80px;
  height: 80px;
}

#albums th, td {
  padding: 0 1em 0 1em;
}

.show_aside {
  visibility: visible !important;
  opacity: 1 !important;
  transition: all 1s ease-out;
}

.remove_aside {
  transition: all 1s ease-out;
}

footer{
  text-align: center;
  padding: 0.5em 0;
  margin : 0;
  background: black;
  color: white;
}

